
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 order-md-last ftco-animate py-md-5 mt-md-5">
            <img src="assets/images/hc1.jpg" alt="" class="img-fluid ">
            <br> <br>
          <h2 class="mb-3">1 – LEAVE A NICE WELCOME NOTE</h2> <br>
          <p>I find it is best to start with a welcome note. Something short and sweet, adding in an element of fun wouldn’t go astray either.</p> 
          <p>
           
          </p> 
          <p>But best to keep it short. Start with something like “Welcome to Sovereign Cottage. We are so pleased you have decided to book with us and hope you have an enjoyable stay.”.</p> <br>
          <h2 class="mb-3 mt-5"> 2 – INCLUDE YOUR CONTACT DETAILS</h2> <br>
          <p>I recommend providing several forms of contact details. A phone number and email address are the obvious ones. Another common way of chatting is via a chat program such as WhatsApp or Facebook Messenger.</p> 
          <p>
           
          </p>
          <p>There’s something satisfying about being able to throw around a few words of Greek, knowing how to say thanks in Thai, pulling out that long dormant Spanish to book a room in Santiago, or simply hearing a language you didn’t know existed just a few weeks before.</p><br>
          <p>Zip-lining over the jungle canopy in Peru, successfully navigating the maze-like streets of Venice, bartering for the best price in the traditional markets of Marrakech, taking a speedboat ride in New Zealand, or hopping in a Land Rover and heading out to watch animals grazing  in Tanzania: these are adventures worth having. People are hardwired for the excitement of adventure and travel may just be the best way to tap into it.</p><br>
          <p>Meeting people from other cultures will teach you that the way you’ve been looking at the world isn’t the way everybody else does. In fact, your point-of-view might have some major blind spots. Seeing the world for yourself will improve your vision and your grip on reality.</p><br>
          <p>If you’re between jobs, schools, kids, or relationships, around the world travel can be a perfect way to move from one of these life stages into your next great adventure. A big trip won’t just ease your transition into the next stage of your life, it’ll give you a chance to reflect on where you’ve been, where you’re going, and where you want to end up.</p><br>
          <hr />
          <h2 class="mb-3 mt-5">3 – WHAT ARE THE BEST ATTRACTIONS?</h2> <br>
          <p> If a guest is coming to stay in your city, then odds are they will want to know some of the attractions nearby. I know I want to when I travel.</p>
          <p>
            
          </p>
          <p>Most likely a guest will hit up Google to search for attractions in the area. But, what I find helpful is listing some of the lesser-known attractions. Things that the search engines may not show you..</p><br>
          <p>You live in the city, so you should know some of the must sees. There may be a nice park or some walking tracks nearby? You could inform them about a cheap bike rental place or if there is a lake with canoe rentals available. The list is endless.</p><br>
          <p>I like to list things like movie cinemas, museums, popular streets, swimming pools, and so on. There is even a ghost tour in my city which I list in the house manual, which has proven popular.</p><br>
          <p>The more things you can list, the better. Your guest will appreciate it and a happy guest equals a happy review.</p><br>
          <hr />
         
          <button class="btn btn-info "(click)="onAdmin() ">
           Go to Administrator
           </button>
          <br> <br>        
        </div>
      </div>
    </div>
</section>

        
        
      
  

