
   .button-s{
    display: inline-table;
    font-size: 15px;
    font-weight: 200;
    padding: 10px 28px;
    color: #ffffff;
    background: #44b6e4;
    letter-spacing: 0.5px;
    margin-left: 10px;
    
   
   }
