
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 order-md-last ftco-animate py-md-5 mt-md-5">
          <h2 class="mb-3">#1 Traveling helps you learn who you are.</h2> <br>
          <p>All the challenges and opportunities travel lays at your feet help you discover who you are in a way that’s only possible on the road.</p> <hr />
          <p>
            <img src="assets/images/b1.jpg" alt="" class="img-fluid">
          </p> <hr />
          <p>People you meet while on the road become some of the most valued names on your contact list. They become places on the map to visit later on. These folks give you a glimpse outside your hometown circle of friends, and force you to take in new and refreshing perspectives, and ultimately realize that everyone is the same.</p> <br>
          <h2 class="mb-3 mt-5"> #2 Traveling develops skills you didn’t know you had</h2> <br>
          <p>Sometimes it’s only far from home that you realize you you’ve got skills you’ve never used. It’s travel that brings them to the surface and makes you smile, satisfied to have reached the mountain top, or  crossed a gorge  or helped a villager clean up after a storm, or even to have successfully ordered a meal at a rural Chinese restaurant.</p> <hr />
          <p>
            <img src="assets/images/bg_3.jpg" alt="" class="img-fluid ">
          </p><hr />
          <p>There’s something satisfying about being able to throw around a few words of Greek, knowing how to say thanks in Thai, pulling out that long dormant Spanish to book a room in Santiago, or simply hearing a language you didn’t know existed just a few weeks before.</p><br>
          <p>Zip-lining over the jungle canopy in Peru, successfully navigating the maze-like streets of Venice, bartering for the best price in the traditional markets of Marrakech, taking a speedboat ride in New Zealand, or hopping in a Land Rover and heading out to watch animals grazing  in Tanzania: these are adventures worth having. People are hardwired for the excitement of adventure and travel may just be the best way to tap into it.</p><br>
          <p>Meeting people from other cultures will teach you that the way you’ve been looking at the world isn’t the way everybody else does. In fact, your point-of-view might have some major blind spots. Seeing the world for yourself will improve your vision and your grip on reality.</p><br>
          <p>If you’re between jobs, schools, kids, or relationships, around the world travel can be a perfect way to move from one of these life stages into your next great adventure. A big trip won’t just ease your transition into the next stage of your life, it’ll give you a chance to reflect on where you’ve been, where you’re going, and where you want to end up.</p><br>
          <hr />
       
          <app-blog-list></app-blog-list>         
    </div>

        
        <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
          <div class="sidebar-box pt-md-5"></div>  
          <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3 class="h3" >Categories</h3>
              <li><a href="#">Travel <span>(12)</span></a></li>
              <li><a href="#">Tour <span>(22)</span></a></li>
              <li><a href="#">Destination <span>(37)</span></a></li>
              <li><a href="#">Travel <span>(140)</span></a></li>
            </div>
          </div>

         
        

          <div class="sidebar-box ftco-animate">
            <h3 class="h3" >Paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
          </div>
        </div>
      </div>
    </div>
</section>
  

